# dependencies
/node_modules
config.env

# misc
/backend/config/config.env

/game-task/node_modules

# production
/game-task/build
/game-task/.env.local
/game-task/.env.development.local
/game-task/.env.test.local
/game-task/.env.production.local



npm-debug.log*
yarn-debug.log*
yarn-error.log*